* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(253, 169, 14, 0.784);

  h1 {
    color: #fff;
    cursor: pointer;
  }
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;

  li {
    list-style: none;
    margin-right: 20px;

    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
  }
}

nav ul li a:hover {
  color: #fffa76;
}

.welcome-msg {
  text-align: center;
  margin-top: 2rem;
  animation: slidein ease-in-out;
  transition: all 0.5s;
}

@keyframes slidein {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
